body {
  padding: 50px;
 
  
}
.App {

}
.list-item {
  list-style-type:none;
}

.crossed {

text-decoration: line-through;

}

button:hover{
  background-color: rgb(146, 217, 219);
}

li{
  padding: 10px;
}

.button-style{
  background-color: rgb(224, 247, 247);
  border: none;
  
  display: inline-block;
  height: 25px;
  border-color: cadetblue;
  border-width: 3px;
  font-size: 16px;
  
}

.done{
text-decoration: line-through;
}
input{
  margin: 10px;
}